<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmatching.mapper.BoardMapper">
	<select id="getUser" parameterType="String" resultType="User">
		SELECT *
		FROM users WHERE nickname =#{nickname}
	</select>
	
	<insert id="insertUser" parameterType="User" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="false" timeout="20">
		INSERT INTO
		users(email,nickname,password,birth,join_day)
		VALUES(#{email},#{nickName},#{password},#{birth},now())
	</insert>
	<delete id="deleteUser" parameterType="User">
		DELETE FROM users where id = #{id}
	</delete>
</mapper>
