<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmatching.mapper.BoardMapper">
	
	<insert id="insertBoard" parameterType="Board" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="false" timeout="20">
		INSERT INTO
		boards( title, nickname ) 
		VALUES(#{title},#{nickname})
	</insert>
	
	<delete id="deleteBoard" parameterType="Board">
		DELETE FROM users where id = #{id}
	</delete>
	
	<select id="findBoard" parameterType="int" resultType="Board">
		SELECT * FROM boards WHERE id=#{id}
	</select>
</mapper>
