<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmatching.mapper.ScrapMapper">
	
	<select id="find" parameterType="scrap" resultType="scrap">
		SELECT 
			id,
			email
		FROM scraps
		WHERE id = #{id} AND email = #{email}
	</select>
	
	<select id="count" parameterType="scrap" resultType="int">
		select count(*) from scraps where id = #{id} AND email = #{email};
	</select>

	<insert id="save" parameterType="scrap" flushCache="true"
		statementType="PREPARED"  timeout="20">
		INSERT INTO scraps(id,email)
			VALUES(#{id},#{email})
		
	</insert>
	
	<delete id="delete" parameterType="scrap">
		DELETE FROM scraps where id = #{id} AND email=#{email}
	</delete>
	
</mapper>