<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmatching.mapper.TasteMapper">
	
	<select id="find" parameterType="taste" resultType="Taste">
		SELECT 
			code,
			kind
		FROM tastes
		WHERE code = #{code} AND kind = #{kind}
	</select>
	<select id="findAll" parameterType="taste" resultType="Taste">
		SELECT 
			code,
			kind
		FROM tastes
	</select>
	
	<select id="countAll"  resultType="int">
		select count(*) from taste
	</select>

	<insert id="save" parameterType="taste" flushCache="true"
		statementType="PREPARED"  timeout="20">
		INSERT INTO tastes(code,kind)
			VALUES(#{code},#{kind})
		
	</insert>
	
	<delete id="delete" parameterType="like">
		DELETE FROM tastes where code = #{code}
	</delete>
	
</mapper>