<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmatching.mapper.UserMapper">
	<select id="getUser" parameterType="String" resultType="User">
		SELECT *
		FROM users WHERE nickname =#{nickname}
	</select>
	<select id="readAuthority" parameterType="int" resultType="String">
		SELECT authority_name FROM authority WHERE id = #{id}
	</select>
	
	<select id="findIdAndPassword" parameterType="User" resultType="User">
		SELECT * FROM users WHERE id=#{id} AND password=#{password}
	</select>
	
	<insert id="insertUser" parameterType="UserForm" flushCache="true"
		statementType="PREPARED" useGeneratedKeys="false" timeout="20">
		INSERT INTO
		users(email,nickname,password,birth,join_day)
		VALUES(#{email},#{nickName},#{password},#{birth},now())
	</insert>
	<delete id="deleteUser" parameterType="User">
		DELETE FROM users where id = #{id}
	</delete>
</mapper>
