@CHARSET "utf-8";

/*기본 정렬*/
.center { display: flex; justify-content: center; align-items: center; }
.middle { display: flex; align-items: center; }
.mrg-right { margin-right: 15px }

/* Contents Section */
.explain { height: 40px; padding: 20px 0 0 25px; font-weight: bold }
.fm-ct-container { display: inline-block; width: 100%; margin-top: 10px }
.each-box { width: 100%; border: 2px solid #e0e0e0; background: #fff }
.summary { height: 300px }
.summary-ct-info, .summary-photo-container > .inner, .sum-food1, .sum-food2 { height: 100% }
.summary-photo-container > .inner { display: flex; align-items: center }

/* Summary - post information */
.title { height: 50px; margin: 22px 0 10px 0; text-align: center; font-size: 18px }
.writer-photo { display: flex; justify-content: center; align-items: center }
.writer-photo > img { width: 70px; height: 70px; overflow: hidden; border-radius: 50% }
.writer-name { margin: 3px 0 5px 0; color: #9e9e9e; font-size: 10.5px; text-align: center }
.point { margin: 12px 0 5px 0; font-weight: bold; font-size: 15px; text-align:center }
.posts-ct-container { padding: 10px 15px }
.posts-ct-info { padding-bottom: 4px; border-bottom: 1px solid #b3b3b3; font-size: 10.5px; color: #9e9e9e } 
.posts-react1, .posts-react2 { padding: 7px 0; display: flex; align-items: center; float: left}
.posts-react1 { width: 90% }
.each-info, .each-info-last { float: left; font-size: 10px; font-weight: bold }
.each-info { margin-right: 15px }
.each-info > img, .each-info-last > img { width:20px; height:20px; margin-bottom: 2px; margin-right: 3px }
.posts-react2 > a > img { width:20px; height:20px; margin-left:5px }
.comm-inner2 > button > img { width:14px; height: 14px; margin-bottom: 2px; margin-right: 3px }

/* Summary - food information */
.summary > div { float: left }
.summary-photo-container { height: 100%; padding-left: 0 }
.sum-food1 { width: calc(50% - 5px); height:calc(100% - 20px); display: flex; align-items: center; background-repeat: no-repeat !important}
.sum-food1:nth-child(1) { float: left; margin-right: 10px }
.icon-container { margin-top:10px }
.sum-food1 > .inner { position:relative; width:100%; height: 100% }
.sum-food-taste { position: absolute; bottom: 0; width: 100%; height: 120px; color: #ffffff; font-weight:bold; text-align: center; background-color: rgba(0,0,0,0.5); display: flex; justify-content: center; align-items: center}
.icon-container > img { width: 50px; height: 50px }

/* Tag */
.tag { height: 80px; padding: 0 65px; font-weight: bold; display: flex; align-items: center }

/* Taste */
.each-box > table { width: calc(100% - 60px); margin: 10px 30px}
tr { height: 100px }
.tr-with-hr { border-top: 2px solid #e0e0e0 }

.taste-icons { width: 20%; text-align: center; font-size: 16px; font-weight: bold }
.taste-icons > img { width:55px }
.taste-name { font-weight: bold; margin: 0 0 10px 0 }
.taste-explain { color: #5d5d5d; font-size: 13px; margin: 0 }

/* Suggest foodmatching */
.sug:nth-child(1) { padding: 0 7.5px 0 0; display: inline-flex }
.sug:nth-child(2) { padding: 0 0 0 7.5px; float: right}
.half-box { position: relative; width:100%; height: 450px; border: 2px solid #e0e0e0; background: #fff }

.fm-name { color:#5d5d5d; font-size: 12px; font-weight: bold; position: absolute; top: 40px; width:100%; text-align:center }
.fm-food { width: 150px; height: 150px; border-radius: 50%; background-size: contain; border: 3px solid #3B4C91;
position: absolute; top: 70px; left: 50%; margin-left: -75px; z-index: 1}
.sug-taste1 { position: absolute; top: 220px; left: 100px; z-index: 2 }
.sug-taste2 { position: absolute; top: 220px; right: 100px; z-index: 2 }
.sug-taste1 > img, .sug-taste2 > img { width: 50px; height: 50px }
.sug-name1, .sug-name2 { position: absolute; top: 395px; width:50%; text-align:center; color:#5d5d5d; font-size: 12px; font-weight: bold }
.sug-name1 { left: 0 }
.sug-name2 { right: 0 }
.sug-food1, .sug-food2 { position: absolute; top: 250px; width: 130px; height: 130px; border-radius: 50%; background-size: contain; border: 3px solid #889AC8; z-index: 1}
.sug-food1 { left: 60px }
.sug-food2 { right: 60px }
.sug-line1, .sug-line2 { width: 80px; height: 100px; position: relative }
.sug-line1:after { content: ""; position: absolute; top: 200px; left: 200px; border-top: 3px dashed #7884AA; width: 90px; transform: rotate(123deg); transform-origin: 0% 0% }
.sug-line2:after { content: ""; position: absolute; top: 100px; left: 290px; border-top: 3px dashed #7884AA; width: 90px; transform: rotate(57deg); transform-origin: 0% 0% }

/* Comment */

.write-container { display: flex; padding: 40px 0 20px 0 } 
.comment-container { display: flex; padding: 20px 0 40px 0 }

.comment-container > .profile { display: flex; align-items: flex-start; margin-top: 30px; justify-content: flex-end } 
.write-container > .profile, .comment-container > .profile, .reply-inner > .profile { width: 20% }
.write-container > .profile > img, .comment-container > .profile > img { float: right; padding-right: 15px }
.write-container > .text { width: 60% }
.write-container > .text > div, .reply-inner > .comment > div { margin-bottom: 0 }
.non-login { font-size: 12px; padding: 15px 20px }
.write-container > .send { width: 20%; padding-left: 15px; display: flex; align-items: flex-end }
.btn-send { background-color: #5A62AB; color: #fff; width: 60% }
.btn-send:hover { color:#D3CCFF }

.comment-view { width: 60%; padding: 15px 25px 20px 25px; border: 1px solid #c0c0c0; border-radius: 4px }
.comm-report { text-align: right; font-size: 11px;color: #8e8e8e }
.comm-name { color: #5A62AB; font-weight: bold }
.comm-contents { padding: 10px 0; font-size: 12px }
.comm-time { font-size: 11px; color: #8e8e8e; margin-bottom: 10px }
.comm-inner1 { display: flex; width: 50%; float: left}
.comm-inner2 { display: flex; width: 50%; flex-direction: row-reverse}
.comm-inner1 > button, .comm-inner2 > button { font-size: 12px }

.reply-container { display:none; margin-top: 20px }
.reply-box { background-color: #e8e8e8; border: 1px solid #c0c0c0; border-radius: 4px }
.reply-inner { display: flex }
.reply-inner > .profile { padding-top: 15px }
.reply-inner > .profile > img { width:70%; float: right; padding-right: 0; margin-top: 15px }
.reply-inner > .comment { padding: 15px 25px 20px 25px; width: 100% } 
.comment > div > button { background-color: #5A62AB; color: #fff; width: 20%; float: right; margin-top: 10px }
.reply-box > hr { border-color: #c0c0c0; margin: 0 }
