<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

<a th:href="@{'/matches/' + ${thumbNail.board.id}}" class="each-post matching" th:each="thumbNail,iterationStatus  : ${thumbNailList}">
	<div class="posts-up">
		<div class="posts-title" th:text="${thumbNail.board.title}">
			&#38;<br />
		</div>
		<div class="posts-writer" th:text="${thumbNail.board.owner}"></div>
		<div class="posts-time" th:text="${thumbNail.board.createdDate}"></div>
		<div class="posts-like">
			927<img class="posts-heart" th:src="@{/images/heart_on.svg}" />
		</div>
	</div>
	<div class="posts-down">
		<div class="half-img" th:each="food,iterationStatus : ${thumbNail.food}" th:style="'background:url(' + @{/img/} + ${food.foodImage} + ');'"></div>
	</div>
</a>
