<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Foodmatching</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
<!--[if lt IE 9]>
  		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  		<![endif]-->
<link rel="stylesheet" th:href="@{/css/commons.css}"></link>
<link rel="stylesheet" th:href="@{/css/main.css}"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/commonHeader.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			type : "GET",
			url : "/matches",
			data : {
				startNum : 0,
				offset : 3
			},
			error : function() {
				alert('통신실패!!');
			},
			success : function(data) {
				/* alert("통신데이터 값 : " + data.comment) ; */
				$('.fm-ct-posts').append(data)

			}

		});
		$(document).on('mouseover', function(e) {
			if (e.target.className == 'posts-time') {
				console.log(e.target.getAttribute('data-createdday'))
			}

		});
	})
</script>
</head>
<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="fm-intro">
		<img th:src="@{/images/intro.png}" />
		<div class="title">음식은 더할수록 행복해진다</div>
		<div class="sub-title">풍미를 높여 주는 음식 조합을 찾아, 소중한 사람들과 함께 나누세요.</div>
	</div>
	<div class="fm-main-container">
		<div>
			<div class="fm-ct-highlight">
				<div class="month col-md-4">
					<div class="explain">이달의 푸드매칭</div>
					<div class="inner">
						<div class="head">
							<div class="month-title">▲ 요즘 한강에서 핫한 조합은?</div>
						</div>
					</div>
				</div>
				<div class="best col-md-8">
					<div class="explain">베스트 푸드매칭</div>
					<div class="inner">
						<div class="best-title">
							매콤한 토마토 수프 <br />고소한 콥샐러드
						</div>
						<div class="best-ct-info">
							<div>foodlove님의 푸드매칭</div>
							<div class="heart-container">
								<img class="heart" th:src="@{/images/heart_white.svg}" />927
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fm-ct-posts">
				<div class="each-post vote">
					<div class="vote-sub-title">파전에 어울리는 술은?</div>
					<div class="vote-title">맥주 vs 막걸리</div>
				</div>
				<div class="each-post matching">
					<div class="posts-up">
						<div class="posts-title">
							라멘, 돈카츠 &#38;<br />캘리포니아 롤
						</div>
						<div class="posts-writer">구슬씨</div>
						<div class="posts-time">1시간 전</div>
						<div class="posts-like">
							927<img class="posts-heart" th:src="@{/images/heart_on.svg}" />
						</div>
					</div>
					<div class="posts-down">
						<div id="ramen" class="third-img-fir"></div>
						<div id="cutlet" class="third-img-sec"></div>
						<div id="sushi" class="third-img-thr"></div>
					</div>
				</div>
				<div class="each-post matching">
					<div class="posts-up">
						<div class="posts-title">
							오므라이스 &#38;<br />크림 스파게티
						</div>
						<div class="posts-writer">구슬씨</div>
						<div class="posts-time">1시간 전</div>
						<div class="posts-like">
							927<img class="posts-heart" th:src="@{/images/heart_on.svg}" />
						</div>
					</div>
					<div class="posts-down">
						<div id="omu" class="half-img"></div>
						<div id="spa" class="half-img"></div>
					</div>
				</div>
				<div id="random" class="each-post posts random">
					<div class="random-title">복불복 조합뽑기</div>
					<div class="random-sub-title">새로운 조합에 도전!</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript"
		th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script>
		$('#random').css("background-image", "url(/images/mario_img.png)");

		$('#ramen').css("background-image", "url(/images/ramen.png)");
		$('#cutlet').css("background-image", "url(/images/cutlet.png)");
		$('#sushi').css("background-image", "url(/images/sushi.png)");

		$('#ramen2').css("background-image", "url(/images/ramen.png)");
		$('#cutlet2').css("background-image", "url(/images/cutlet.png)");
		$('#sushi2').css("background-image", "url(/images/sushi.png)");

		$('#omu').css("background-image", "url(/images/om.png)");
		$('#spa').css("background-image", "url(/images/spa.png)");

		$('#omu2').css("background-image", "url(/images/om.png)");
		$('#spa2').css("background-image", "url(/images/spa.png)");
	</script>
</body>
</html>
