
<div class="each-post matching" th:each="thumbNail,iterationStatus  : ${thumbNailList}" >
	<a th:href="@{'/matches/' + ${thumbNail.board.id}}" >
		<div class="posts-up" >
			<div class="posts-title" th:text="${thumbNail.title}"></div>
		<div class="posts-writer" th:text="${thumbNail.board.owner}">구슬씨</div>
		<div class="posts-time" th:attr="data-createdday=${thumbNail.board.createdDate}" th:text="${thumbNail.board.time}"></div>
		<div class="posts-like">927<img class="posts-heart" th:src="@{/images/heart.svg}" /></div>
		</div>
		<div class="posts-down">
			<div class="half-img" th:each="food,iterationStatus : ${thumbNail.food}" th:style="'background:url(' + @{/img/} +${food.boardId}+'/'+${food.foodImage} + '); background-position:center center'"></div>
		</div>
	</a>	
</div>
